@font-face {
  font-family: 'SourceCode';
  src: url("https://shoutem.github.io/fonts/sourcecodepro-medium-webfont.eot");
  src: url("https://shoutem.github.io/fonts/sourcecodepro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("https://shoutem.github.io/fonts/sourcecodepro-medium-webfont.woff2") format("woff2"), url("https://shoutem.github.io/fonts/sourcecodepro-medium-webfont.woff") format("woff"), url("https://shoutem.github.io/fonts/sourcecodepro-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'MuseoSans';
  src: url("https://shoutem.github.io/fonts/museosans-100-webfont.eot");
  src: url("https://shoutem.github.io/fonts/museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("https://shoutem.github.io/fonts/museosans-100-webfont.woff2") format("woff2"), url("https://shoutem.github.io/fonts/museosans-100-webfont.woff2") format("woff"), url(".https://shoutem.github.io/fonts/museosans-100-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal
}
@font-face {
  font-family: 'MuseoSans';
  src: url("https://shoutem.github.io/fonts/museosans-300-webfont.eot");
  src: url("https://shoutem.github.io/fonts/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("https://shoutem.github.io/fonts/museosans-300-webfont.woff2") format("woff2"), url("https://shoutem.github.io/fonts/museosans-300-webfont.woff") format("woff"), url("https://shoutem.github.io/fonts/museosans-300-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: 'MuseoSans';
  src: url("https://shoutem.github.io/fonts/museosans_500-webfont.eot");
  src: url("https://shoutem.github.io/fonts/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("https://shoutem.github.io/fonts/museosans_500-webfont.woff2") format("woff2"), url("https://shoutem.github.io/fonts/museosans_500-webfont.woff") format("woff"), url("https://shoutem.github.io/fonts/museosans_500-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'MuseoSans';
  src: url("https://shoutem.github.io/fonts/museosans_700-webfont.eot");
  src: url("https://shoutem.github.io/fonts/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("https://shoutem.github.io/fonts/museosans_700-webfont.woff2") format("woff2"), url("https://shoutem.github.io/fonts/museosans_700-webfont.woff") format("woff"), url("https://shoutem.github.io/fonts/museosans_700-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal
}